

.count{
    position: absolute;
    top: 0;
    right: 0.5rem;
    background-color: #f8f9fa;
    color: #000;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.8rem;
}



.mobile-bottom-navigation {
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 0;
    -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    z-index: 5;
   border-radius: 5px;
}


button.action-btn.btn {
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media( max-width: 991px){
    .mobile-bottom-navigation{
        display: flex;

    }

    
}